:root {
	font-family: Helvetica, Arial, sans-serif;
}

:root {
	--mainScreenPadding: 40px;
	--tierlistTierHeight: 80px;
	--championIconHeight: 80px;
	--tierColorButtonHeight: 20px;
	--generalBorderRadius: 6px;
	--searchBarFontSize: 1rem;
}

:root[data-theme="dark"] {
	--bodyBackgroundColor: #0d1117;
	--buttonBackgroundColor: #06145e;
	--generalTextColor: #cccccc;
	--buttonBorder: 1px solid #707070;
	--textInputBackgroundColor: #0f093e;
	--textInputPlaceholderColor: #797979;
	--textInputBorder: 1px solid #797979;
	--tierBackgroundColor: #0a0440;
	--tierNameTextColor: var(--tierBackgroundColor);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--bodyBackgroundColor);
	overflow: hidden;
}

#root {
	height: 100vh;
	width: 100vw;
}

#main-screen {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	gap: 10px;
	height: 100%;
	width: 100%;
	padding: var(--mainScreenPadding);
}

#tierlist-container {
	height: 100%;
	width: 45vw;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
#tierlist {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 0;
	border: 1px solid black;
}
.tier-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: var(--tierlistTierHeight);
	background: var(--tierBackgroundColor);
	box-shadow: 0px 0px 1px 1px black;
}

.tier-name {
	min-width: var(--tierlistTierHeight);
	min-height: var(--tierlistTierHeight);
	max-width: var(--tierlistTierHeight);
	font-size: 3rem;
	text-align: center;
	text-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	color:;
}

.tier-champions {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

.tier-champions > img {
	height: var(--championIconHeight);
	width: var(--championIconHeight);
}

#champion-selection {
	width: 45vw;
	min-height: 0;
	max-height: 90vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 2px;
	row-gap: 2px;

	overflow-x: hidden;
	overflow-y: auto;
}

#champion-selection-search-bar {
	width: 100%;
	text-align: center;
	font-size: var(--searchBarFontSize);
}

#champion-selection-container {
	height: 100%;
	width: 45vw;
}

#tierlist-editor {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 5px;
	border: 1px solid black;
}

.tier-editor-container {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	gap: 4px;
}
.tier-name-editor {
	max-width: 100px;
}
.tier-color-button {
	height: var(--tierColorButtonHeight);
	width: var(--tierColorButtonHeight);
	border: 1px solid black;
}

input[type="button"] {
	background: var(--buttonBackgroundColor);
	border: var(--buttonBorder);
	color: var(--generalTextColor);
	border-radius: var(--generalBorderRadius);
	padding: 2px 4px;
}

input[type="text"] {
	background: var(--textInputBackgroundColor);
	color: var(--generalTextColor);
	border: var(--textInputBorder);
	border-radius: var(--generalBorderRadius);
	padding-left: 4px;
}
::placeholder {
	color: var(--InputPlaceholderColor);
}
