:root {
	font-family: Helvetica, Arial, sans-serif;
}

:root {
	--mainScreenPadding: 40px;
	--tierlistTierHeight: 80px;
	--championIconHeight: calc(0.8 * var(var(--tierlistTierHeight)));
}

:root[data-theme="dark"] {
	--tierBackgroundColor: gray;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--bodyBackgroundColor);
	overflow: hidden;
}

#root {
	height: 100vh;
	width: 100vw;
}

#main-screen {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	gap: 10px;
	height: 100%;
	width: 100%;
	padding: var(--mainScreenPadding);
}

#tierlist {
	display: flex;
	flex-direction: column;
	width: 45vw;
	min-height: 0;
}
.tier-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: var(--tierlistTierHeight);
	background: var(--tierBackgroundColor);
	border: 1px solid black;
}

.tier-name {
	min-width: var(--tierlistTierHeight);
	min-height: var(--tierlistTierHeight);
	font-size: 3rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: lightgray;
}

.tier-champions {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

.tier-champions > img {
	height: var(--championIconHeight);
	width: var(--championIconHeight);
}

#champion-selection {
	width: 45vw;
	min-height: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 2px;
	row-gap: 2px;

	overflow-x: hidden;
	overflow-y: auto;

	background: lightgreen;
}

#champion-selection-search-bar {
	width: 100%;
	text-align: center;
}

#champion-selection-container {
	height: 100%;
	width: 45vw;
}
