:root {
	font-family: Helvetica, Arial, sans-serif;
}

:root {
	--mainScreenPadding: 40px;
	--tierlistTierHeight: 80px;
	--championIconHeight: 80px;
	--tierColorButtonHeight: 2rem;
	--generalBorderRadius: 6px;
	--overlayBorderRadius: 24px;
	--searchBarFontSize: 1rem;
	--addTierFontSize: 2rem;
	--changeTierNameFontSize: 2rem;
	--removeTierButtonFontSize: 1.5rem;
	--tierEditorContainerOpacity: 0.95;
	--tierNameFontSize: 1.3rem;
	--snapshotChampionIconHeight: 60px;
	--snapshotContainerHeight: 360px;
	--snapshotNameHeight: 2rem;
	--snapshotPadding: 4px;
}

:root[data-theme="dark"] {
	--bodyBackgroundColor: #0d1117;
	--buttonBackgroundColor: #06145e;
	--generalTextColor: #cccccc;
	--buttonBorder: 1px solid #707070;
	--textInputBackgroundColor: #0f093e;
	--textInputPlaceholderColor: #797979;
	--textInputBorder: 1px solid #797979;
	--tierBackgroundColor: #0a0440;
	--tierNameTextColor: var(--tierBackgroundColor);
	--tierContainerBoxShadow: 0px 0px 1px 1px black;
	--tierAdditionElementBorder: 1px solid #555555;
	--snapshotContainerBorder: 1px solid #555555;
	--transparentBackground: #00000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--bodyBackgroundColor);
	overflow: hidden;
}

#root {
	height: 100vh;
	width: 100vw;
}

#main-screen {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#not-utils {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	gap: 10px;
	height: 100%;
	width: 100%;
	padding: var(--mainScreenPadding);
	overflow-y: hidden;
}

#tierlist-container {
	height: 100%;
	width: 45vw;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
#tierlist {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid black;
}
.tier-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	background: var(--tierBackgroundColor);
	box-shadow: var(--tierContainerBoxShadow);
}

.tier-name {
	min-width: var(--tierlistTierHeight);
	min-height: var(--tierlistTierHeight);
	max-width: var(--tierlistTierHeight);
	font-size: var(--tierNameFontSize);
	text-align: center;
	text-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.tier-champions {
	width: 100%;
	height: 100%;
	min-width: var(--tierlistTierHeight);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}

.tier-champions > img {
	height: var(--championIconHeight);
	width: var(--championIconHeight);

	cursor: pointer;
	padding: 0px;
}

#champion-selection {
	width: 45vw;
	min-height: 0;
	max-height: 80vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 2px;
	row-gap: 2px;

	overflow-x: hidden;
	overflow-y: auto;
}

#champion-selection-search-bar {
	width: 100%;
	text-align: center;
	font-size: var(--searchBarFontSize);
	padding: 4px 0px;
}

#champion-selection-container {
	height: 100%;
	width: 45vw;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#tierlist-editor {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 5px;
	min-height: 0;
	width: 100%;
	max-height: 30vh;
}

.tier-editor-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4px;
	width: 80vh;
	height: 80vh;
	background: var(--bodyBackgroundColor);
	opacity: var(--tierEditorContainerOpacity);
}
.tier-name-editor {
	max-width: 140px;
	font-size: var(--changeTierNameFontSize);
	padding: 4px 0px;
	text-align: center;
}
.tier-color-button {
	height: var(--tierColorButtonHeight);
	width: var(--tierColorButtonHeight);
}

.normal-button {
	background: var(--buttonBackgroundColor);
	border: var(--buttonBorder);
	color: var(--generalTextColor);
	border-radius: var(--generalBorderRadius);
	padding: 2px 4px;
}

input[type="text"] {
	background: var(--textInputBackgroundColor);
	color: var(--generalTextColor);
	border: var(--textInputBorder);
	border-radius: var(--generalBorderRadius);
	padding-left: 4px;
}
::placeholder {
	color: var(--textInputPlaceholderColor);
}

#tier-editor-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	background: var(--transparentBackground);

	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;
}

.tierlist-addition-element {
	width: 100%;
	height: var(--tierlistTierHeight);
	min-height: var(--tierlistTierHeight);

	background: var(--tierBackgroundColor);
	color: var(--generalTextColor);
	border: var(--tierAdditionElementBorder);

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	font-size: var(--addTierFontSize);
}

.champion-icon {
	position: relative;
	cursor: pointer;
}

.normal-button:hover,
.tier-color-button:hover,
.tierlist-addition-element:hover {
	filter: brightness(110%);
}

#tier-removal-button {
	height: var(--tierColorButtonHeight);
	font-size: var(--removeTierButtonFontSize);
}

.tier-swapping-container {
	width: var(--tierlistTierHeight);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4px;
	padding: 0px 2px;
}

.tier-swapping-arrow {
	height: 50%;
	width: 50%;
	min-height: 40px;
	min-width: 28px;
	max-height: 40px;
	max-width: 28px;
	filter: invert(50%);
}

.champion-name-container-on-hover {
	position: absolute;
	background: var(--bodyBackgroundColor);
	padding: 4px 4px;
	color: var(--generalTextColor);
}

#utils {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
	padding: 4px 4px;
}

.hidden {
	display: none !important;
}

#snapshots-container {
	position: absolute;
	left: 15vw;
	top: 15vh;

	height: 70vh;
	width: 70vw;

	min-width: var(--snapshotContainerHeight);
	min-height: var(--snapshotContainerHeight);
	overflow-y: auto;
	overflow-x: hidden;

	padding: 10px 10px;
	background: var(--bodyBackgroundColor);
	opacity: 0.95;
	border-radius: var(--overlayBorderRadius);

	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.snapshot-container {
	position: relative;

	max-height: var(--snapshotContainerHeight);
	max-width: var(--snapshotContainerHeight);
	height: var(--snapshotContainerHeight);
	width: var(--snapshotContainerHeight);
	min-height: var(--snapshotContainerHeight);
	min-width: var(--snapshotContainerHeight);

	overflow-y: auto;

	border: var(--snapshotContainerBorder);
	border-radius: var(--generalBorderRadius);
	padding: 4px 4px;

	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	justify-content: space-evenly;
	cursor: pointer;
}

.snapshot-tierlist {
	height: calc(100% - 2rem - 8px);
	width: 100%;
	display: flex;
	flex-direction: column;
}

.snapshot-tier-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	background: var(--tierBackgroundColor);
	box-shadow: var(--tierContainerBoxShadow);
}

.snapshot-tier-name {
	min-width: var(--snapshotChampionIconHeight);
	max-width: var(--snapshotChampionIconHeight);
	min-height: var(--snapshotChampionIconHeight);
	font-size: calc(--tierNameFontSize / 2);
	text-align: center;
	text-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
}

.snapshot-tier-champions {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.snapshot-champion-icon-container,
.snapshot-champion-icon-container > img {
	max-height: var(--snapshotChampionIconHeight);
	max-width: var(--snapshotChampionIconHeight);
	height: var(--snapshotChampionIconHeight);
	width: var(--snapshotChampionIconHeight);
}

#tierlist-name {
	width: 100%;
	height: calc(var(--tierlistTierHeight) / 2);
	text-align: center;
	padding: 4px 0px;
	font-size: var(--tierNameFontSize);
	margin-bottom: 4px;
}

#snapshot-name {
	width: 100%;
	height: 2rem;
	padding: 4px 0px;
	text-align: center;
	font-size: var(--tierNameFontSize);
}

.snapshot-removal-element {
	position: absolute;
	top: 5px;
	right: 5px;

	filter: invert(0.85);
}

.snapshot-utils {
	width: 100%;
	padding: 10px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

#snapshot-search-bar {
	height: 25px;
	font-size: 1rem;
	text-align: center;
}

.snapshot-utils > input[type="button"] {
	width: 80px;
	height: 25px;
}

#settings-container {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background: var(--bodyBackgroundColor);
}
